<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 45px;">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating red tooltipped" data-position="top" data-delay="50" data-tooltip="Add movie">
        <i class="material-icons">movie</i>
        <md-tooltip md-direction="left">Add movie</md-tooltip>
      </a>
    </li>

    <li>
      <a class="btn-floating red darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Add user">
        <i class="material-icons">person_add</i>
        <md-tooltip md-direction="left">Add usuer</md-tooltip>
      </a>
    </li>

  </ul>
</div>